<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <!-- Link Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- Create a block: this is the template engine that Flask uses -->
    <!-- Block: Where we are going to insert our code on all the other pages that inheriate this template -->
    {% block head %}{% endblock %} 
</head>
<body>
    {% block body %}{% endblock %}  
</body>
</html>